%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %title Juego: Piedra, Papel o Tijeras
  %body
    %center
      %h3 Elige una opcion:
      %a{:href => '?choice=piedra'} Piedra
      %a{:href => '?choice=papel'} Papel
      %a{:href => '?choice=tijeras'} Tijeras

      
      %h2 Jugador: #{player_throw}
      %h2 Contra
      %h2 Ordenador: #{computer_throw}
      %h2 Resultado: #{answer}
